/* HEADER */
header {
    background-color: rgb(112, 187, 231);
    padding: 10px 0;
}

.header-container {
    background-color: rgb(216, 142, 5);
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;

    border: 2px solid black;
    min-height: auto;
}

.row {
    display: flex;
}

[class^="col-"] {
    border: 2px dashed black;
}

.col-left {
    width: 20%;
    text-align: left;
}

.col-middle {
    width: 60%;
    text-align: center;
}

.col-right {
    width: 20%;
    text-align: right;
}

/* HEADER */

/* MAIN */
section {
    background-color: blue;
    padding: 30px 0;

}

#first-container {
    background-color: pink;
    width: 65%;
    max-width: 1000px;
    margin: 0 auto;

    border: 2px solid black;
    min-height: 200px;

}