/* BACKGROUND QUALITIES */
.header-section {
    background-color: aquamarine;
    height: 100px;
}

.fisrt-section {
    background-color: blue;
    height: 300px;

}

.second-section,
.fourth-section {
    background-color: white;
    height: 300px;
}

.third-section,
.fifth-section {
    background-color: gray;
    height: 300px;
}

.sixth-section {
    background-color: rgb(10, 4, 4);
    height: 200px;
}

.footer-section {
    background-color: black;
}
/* /BACKGROUND QUALITIES */


/* CONTAINER QUALITIES */
.container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.header-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.first-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.second-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.third-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.fourth-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.fifth-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.sixth-container{
    width: ;
    border: ;
    padding: ;
    margin: ;
}

.footer-container {
    width: ;
    border: ;
    padding: ;
    margin: ;
}
/* /CONTAINER QUALITIES */