.header-block {
    background-color: aquamarine;
    height: 100px;
}

.fisrt-section {
    background-color: blue;
    height: 300px;

}

.second-section,
.fourth-section {
    background-color: white;
    height: 300px;
}

.third-section,
.fifth-section {
    background-color: gray;
    height: 300px;
}

.sixth-section .footer-section {
    background-color: darkgrey;
    height: 200px;
}